<style>
    #topCharts{
        padding: 18px;
    }
    #topCharts > div > div > svg{
        display: block;
        height: 280px;
    }
    .chartWrapper{
        border: solid 1px #c7c7c7;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 18px;
    }
    .chartLabel{
        font-size: 1.2em;
        text-align: center;
        padding: 4px;
    }
	
	#boxesLower {
        margin: 0 9px;
    }
    #boxesLower > div {
        display: flex;
    }
    #boxesLower > div > div {
        flex: 1 1 auto;
        margin: 0 9px 18px 9px;
        display: flex;
        flex-direction: column;
    }
    .boxLowerHeader{
        font-size: 1.3em;
        margin: 0 0 5px 10px;
    }
    #boxStatsLeft{
        color: black;
        background-color: #cccccc;
    }
    #boxStatsRight{
		color: black;
        background-color: #cccccc;
    }
    .boxStats{
        color: white;
    }
    .boxStatsList{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        opacity: 0.77;
        margin-bottom: 5px;
        flex: 1 1 auto;
        align-content: center;
    }
    .boxStatsList i.fa{
        height: 15px;
        width: 33px;
        text-align: center;
    }
    .boxStatsList > div{
        padding: 5px 20px;
    }
    .boxStatsList > div > div{
        padding: 3px;
    }

    div.tooltip {
        position: absolute;
        text-align: center;
        width: 60px;
        height: 28px;
        padding: 2px;
        font: 12px sans-serif;
        background: lightsteelblue;
        border: 0px;
        border-radius: 8px;
        pointer-events: none;
    }
    #tooltip.hidden {
        opacity: 0;
    }
	
	.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

.rowpadding {
	padding-bottom: 15px;
	
	
}
</style>
	            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">Graph Stats</li>
            </ol>
			<div class="row">
			<div class="col-md-12">
<div id="topCharts">
    <div class="chartWrapper">
        <div class="chartLabel">Pool Historical Hashrate</div>
        <div class="chartHolder"><svg id="poolHashrate"/></div>
    </div>
</div>
</div>
</div>
<div class="row rowpadding">
{{ function capitalizeFirstLetter(t){return t.charAt(0).toUpperCase()+t.slice(1)} }}
{{ function readableDate(a){ 
	
	var date = new Date(parseInt(a));
	var options = {  
    weekday: "long", year: "numeric", month: "short",  
    day: "numeric", hour: "2-digit", minute: "2-digit"  
};  
	return date.toLocaleTimeString("en-us", options);

} }}
<div class="col-md-12 col-sm-12">
    {{ for(var pool in it.stats.pools) { }}
	<div class="card text-center">
  <div class="card-header bg-info text-white">
    <h5>{{=capitalizeFirstLetter(it.stats.pools[pool].name)}} Pool Stats</h5>
  </div>
  <div class="card-block">
    <p class="card-text">
		<div class="boxStatsList">
					<div class="col-md-2"><i class="fa fa-users"></i><span id="statsMiners{{=pool}}">{{=it.stats.pools[pool].minerCount}}</span> Miners</div>
                    <div class="col-md-2"><i class="fa fa-rocket"></i><span id="statsWorkers{{=pool}}">{{=it.stats.pools[pool].workerCount}}</span> Workers</div>
                    <div class="col-md-2"><i class="fa fa-tachometer"></i><span id="statsHashrate{{=pool}}">{{=it.stats.pools[pool].hashrateString}}</span> (Now)</div>
					<div class="col-md-2"><i class="fa fa-tachometer"></i><span id="statsHashrateAvg{{=pool}}">...</span> (Avg)</div>
					<div class="col-md-2"><i class="fa fa-gavel"></i>Luck: <span id="statsLuckDays{{=pool}}">{{=it.stats.pools[pool].luckDays}}</span> Days</div>
                </div>
	</p>
  </div>
</div>
	</div>
	</div>
<div class="row">
		<div class="col-md-12 col-sm-12">
	<div class="card text-center">
  <div class="card-header bg-info text-white">
    <h5>{{=capitalizeFirstLetter(it.stats.pools[pool].name)}} Network Stats</h5>
  </div>
  <div class="card-block">
    <p class="card-text">
                <div class="boxStatsList">
                    <div class="col-md-3"><i class="fa fa-cube" aria-hidden="true"></i><small>Block Height:</small> <span id="statsNetworkBlocks{{=pool}}">{{=it.stats.pools[pool].poolStats.networkBlocks}}</span></div>
                    <div class="col-md-3"><i class="fa fa-tachometer"></i><small>Network Hash/s: </small><span id="statsNetworkSols{{=pool}}">{{=it.stats.pools[pool].poolStats.networkSolsString}}</span></div>
                    <div class="col-md-3"><i class="fa fa-unlock-alt" aria-hidden="true"></i><small>Difficulty:</small> <span id="statsNetworkDiff{{=pool}}">{{=(parseFloat(it.stats.pools[pool].poolStats.networkDiff)).toFixed(0)}}</span></div>
					<div class="col-md-3"><i class="fa fa-users"></i><small>Node Connections:</small> <span id="statsNetworkConnections{{=pool}}">{{=it.stats.pools[pool].poolStats.networkConnections}}</span></div>
                </div>
	</p>
  </div>
</div>
	</div>
	{{ } }}
</div>
{{ for(var pool in it.stats.pools) { }}
{{ var blockscomb = new Array; }}
<div class="row">

<table class="table table-small text-center h6">
<tr>
	<td colspan="2" class="h5 text-center">{{=capitalizeFirstLetter(it.stats.pools[pool].name)}} Blocks Found</td></tr>
		
            <tr><td style="width:50%"><i class="fa fa-cubes"></i> <span id="statsValidBlocks{{=pool}}">{{=it.stats.pools[pool].poolStats.validBlocks}} Blocks</span> </td>
			<td style="width:50%"><i class="fa fa-money"></i> Paid: <span id="statsTotalPaid{{=pool}}">{{=(parseFloat(it.stats.pools[pool].poolStats.totalPaid)).toFixed(2)}} {{=it.stats.pools[pool].symbol}}</span> </small></td>
			</tr>
			</table>
</div>
<div class="row">
<table id="blocksTable" class="table table-small table-hover text-center fitsmall"> 
	<thead style="text-align:center">
	<th>Block</th>
	<th class="d-none d-sm-block">Date Mined</th>
	<th>Mined By</th>
	<th>Status</th>
	</thead>
			{{ for(var b in it.stats.pools[pool].pending.blocks) { }}
			{{ var block = it.stats.pools[pool].pending.blocks[b].split(":"); }}
				<tr><td>
					{{if (String(it.stats.pools[pool].name).startsWith("zcash")) { }}
						<a href="https://explorer.zcha.in/blocks/{{=block[0]}}" target="_blank">{{=block[2]}}</a>
						{{ } else if (String(it.stats.pools[pool].name).startsWith("bitcoinz")) { }}
						<a href="https://btczexplorer.blockhub.info/block/{{=block[0]}}" target="_blank">{{=block[2]}}</a>
					{{ } else if (String(it.stats.pools[pool].name).startsWith("zclassic")) { }}
						<a href="https://zcl-explorer.com/insight/block/{{=block[0]}}" target="_blank">{{=block[2]}}</a>
					{{ } else if (String(it.stats.pools[pool].name).startsWith("hush")) { }}
						<a href="https://explorer.myhush.org/block/{{=block[0]}}" target="_blank">{{=block[2]}}</a>
					{{ } else { }}
                                            {{=block[2]}}
                                        {{ } }}
					</td>{{if (block[4] != null) { }}
					<td id ="blockTime" class="d-none d-sm-block">{{=readableDate(block[4])}}</td>
					{{ } }}
					<td><a class="ellipsis" href="/workers/{{!block[3].split('.')[0]}}">{{!block[3]}}</a></td>
					<td>
						{{if (it.stats.pools[pool].pending.confirms) { }}
					    {{if (it.stats.pools[pool].pending.confirms[block[0]]) { }}
						<span style="color:red;"><i class="fa fa-spinner fa-spin"></i>&nbsp;{{=it.stats.pools[pool].pending.confirms[block[0]]}} of 100</span>
					    {{ } else { }}
						<span style="font-weight:bold;color:red;">*PENDING*</span>
					    {{ } }}
					{{ } else { }}
					    <span style="font-weight:bold;color:red;">*PENDING*</span>
					{{ } }}
					</td></tr>
			
        {{ blockscomb.push(block);}}
			{{ } }}
			{{ var i=0; for(var b in it.stats.pools[pool].confirmed.blocks) { }}
			{{ if (i < 1000) { i++; }}
			{{ var block = it.stats.pools[pool].confirmed.blocks[b].split(":"); }}
			<tr><td>{{if (String(it.stats.pools[pool].name).startsWith("zcash")) { }}
						<a href="https://explorer.zcha.in/blocks/{{=block[0]}}" target="_blank">{{=block[2]}}</a>
						{{ } else if (String(it.stats.pools[pool].name).startsWith("bitcoinz")) { }}
						<a href="https://btczexplorer.blockhub.info/block/{{=block[0]}}" target="_blank">{{=block[2]}}</a>
					{{ } else if (String(it.stats.pools[pool].name).startsWith("zclassic")) { }}
						<a href="https://zcl-explorer.com/insight/block/{{=block[0]}}" target="_blank">{{=block[2]}}</a>
					{{ } else { }}
						{{=block[2]}}
					{{ } }} 
					{{if (block[4] != null) { }}</td>
					<td class="d-none d-sm-block">{{=readableDate(block[4])}}</td>
					{{ } }}
					
					<td><a class="ellipsis" href="/workers/{{!block[3].split('.')[0]}}">{{!block[3]}}</a></td>
					<td><span style="font-weight:bold;color:green;">*PAID*</span></td></tr>
					
        {{blockscomb.push(block);}}
			{{ } }}
			{{ } }}
		</table>
      <!--{{=JSON.stringify(blockscomb)}}-->
      <script>
      var blockscomb = ({{=JSON.stringify(blockscomb)}})
      </script>
			
{{ } }}
</div>
<script>
    document.querySelector('main').appendChild(document.createElement('script')).src = '/static/js/stats.js';
</script>
<script>


$(document).ready(function() {
  $('#blocksTable').DataTable({
		"order": [[0, "desc"]]
  });
});

	window.statsSource = new EventSource("/api/live_stats");
    $(function() {
        statsSource.addEventListener('message', function (e) {
            var stats = JSON.parse(e.data);
            for (var pool in stats.pools) {
				$('#statsMiners' + pool).text(stats.pools[pool].minerCount);
                $('#statsWorkers' + pool).text(stats.pools[pool].workerCount);
                $('#statsHashrate' + pool).text(stats.pools[pool].hashrateString);
				$('#statsHashrateAvg' + pool).text(getReadableHashRateString(calculateAverageHashrate(pool)));
				$('#statsLuckDays' + pool).text(stats.pools[pool].luckDays);
				$('#statsValidBlocks' + pool).text(stats.pools[pool].poolStats.validBlocks);
				$('#statsTotalPaid' + pool).text((parseFloat(stats.pools[pool].poolStats.totalPaid)).toFixed(8));
				$('#statsNetworkBlocks' + pool).text(stats.pools[pool].poolStats.networkBlocks);
				$('#statsNetworkDiff' + pool).text(stats.pools[pool].poolStats.networkDiff);
				$('#statsNetworkSols' + pool).text(getReadableNetworkHashRateString(stats.pools[pool].poolStats.networkSols));
				$('#statsNetworkConnections' + pool).text(stats.pools[pool].poolStats.networkConnections);
            }
        });
    });

	function getReadableNetworkHashRateString(hashrate){
		hashrate = (hashrate * 1000000);
		if (hashrate < 1000000)
			return '0 Sol';
		var byteUnits = [ ' Sol/s', ' KSol/s', ' MSol/s', ' GSol/s', ' TSol/s', ' PSol/s' ];
		var i = Math.floor((Math.log(hashrate/1000) / Math.log(1000)) - 1);
		hashrate = (hashrate/1000) / Math.pow(1000, i + 1);
		return hashrate.toFixed(2) + byteUnits[i];
	}
</script>
