body.fixed-nav {
    padding-top: 70px;
}

.content-wrapper {
    min-height: calc(100vh - 70px) !important;
	}

body.sticky-footer {
    margin-bottom: 40px;
}

.da-nav {
	
	margin-right: 5px;
}

.fade.show {
    display: unset !important;
}

.fade {
    display: none !important;
}



.dashboardmodal span {
	font-size:12px;
}

@media (min-width: 992px) {
#mainNav .navbar-collapse .navbar-sidenav {
    margin-top: 76px !important;
}

.giveawayModal {
    width: 50%;
    max-width: 100%;
}
}

@media (min-width: 576px){
	.fitSmall {
		font-size: 11px;
	}
	
	.dashboardmodal {
	max-width:50%;
}
	
#updatesDiv {
	max-width:50%;
}}

@media only screen and (max-width: 575px)  {
	.fitsmall {
		font-size: 11px;
	}
	
	.da-nav {
		width:100%;
	}
	
.ellipsis {
	display:inline-block;
  white-space: nowrap;
  direction:rtl;
  width:200px; 
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow:ellipsis;
}

.ellipsis-smaller {
	display:inline-block;
  white-space: nowrap;
  direction:rtl;
  width:175px; 
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow:ellipsis;
}
}
